* {
    font-family: Trebuchet MS;
    transition: all 0.3s ease-in-out;

}

div{
    width: 30%;
    display: block;
    margin: 0 auto;
}
input {
    border: #5CC5FF 1px solid;
    background: #ECF8FF;
    background: white;
    border-radius: 10px;
    padding: 3px 11px;
    border-radius: 7px;
    width: 65%;
    height: 35px;
    font-size: 13px;

}
input:focus {
    outline: #5CC5FF 1px solid;
}

.one {
    display: flex;
    justify-content: space-between;
}

#addBtn {
    border: none;
    background: #5CC5FF;
    color: white;
    border-radius: 7px;
    height: 42px;
    width: 23%;
    font-size: 15px;
}

#addBtn:disabled {
    opacity: 0.5;
}

#shuffleBtn {
    color: white;
    background: #5CC5FF;
    border: none;
    border-radius: 7px;
    padding: 0px 0px;
    width: 100%;
    text-align: center;
    height: 40px;
    font-size: 16px;
}

.last {
    display: block;
    margin: auto;
}

#shuffleBtn:disabled {
    opacity: 0.5;
}

#shuffleBtn:active {
    background: #4999D2;
}

#div {
    color: gray;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
}

#div div {
   /* padding: 15px 0px;*/
    font-size: 16px;
    background: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    border-radius: 7px;
    height: 40px;
}

#result {
    margin: auto;
    text-align: center;
    color: #142B3B;
    margin: 5px 0px;
    /*background: #F3FAFF;*/
}

#div p {
    margin: auto;
}